html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0%;
    background-image: url('images/retro.png');
    background-position: center;
    background-size: cover;
    position: fixed;
}
#banner{
    position: relative;
    width: 90%;
    height: 30%;
    margin-left: 5%;
    background-image: url('images/retro.png');
    background-position: center;
    background-size: cover;
    border: none;
}
h1{
    color: aliceblue;
}
#nav{
    width: 90%;
    height: 2.5%;
    margin-left: 5%;
    margin-bottom: 0%;
    border: none;
}
button{
    width: 25%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    border: none;
}
#hoverImages{
    position: relative;
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-top: 0%;
    display: flex;
    flex-wrap: nowrap;
}
#Home{
    position: relative;
    background-image: url('images/home.jpg_large');
    background-position: center;
    width: 25%;
    height: 100%;
}
#About{
    position: relative;
    background-image: url('images/alligator.jpg');
    background-position: center;
    width: 25%;
    height: 100%;
}
#Portfolio{
    position: relative;
    background-image: url('images/coding.jpg');
    background-position: center;
    width: 25%;
    height: 100%;
}
#Interesting{
    position: relative;
    background-image: url('images/retro.png');
    background-position: center;
    width: 25%;
    height: 100%;
}
#overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s ease;
    background-color: black;
}
#Home:hover #overlay{
    opacity: 1;
}
#About:hover #overlay{
    opacity: 1;
}
#Portfolio:hover #overlay{
    opacity: 1;
}
#Interesting:hover #overlay{
    opacity: 1;
}
h2{
    color: aliceblue;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}